.list {
	margin: 10px 0;
	padding: 20px;
	border: 1px solid;
	border-radius: 4px;
	.list-field {
		margin-bottom: 5px;
		font-weight: bold;
	}
	.list-content {
		margin-bottom: 5px;
	}
	.list-student-name {
		&:not(:first-child):before {
			content: ", ";
		}
	}
}