.input-form {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 20px;

	.label {
		line-height: 2;
		text-align: left;
		display: block;
		margin-bottom: 5px;
		font-size: 1rem;
	}

	.text-field {
		display: block;
		width: -webkit-fill-available;
		border-radius: 4px;
		border: 1px solid #d5d1d1;
		font-size: 14px;
		padding: 10px 15px;
		:focus {
			outline: none;
		}
	}
}