.App {
  .container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper-form {
      min-width: 350px;
      min-height: 400px;
      background: #ffffff;
      margin: 0 auto;
      border-radius: 4px;
      padding: 20px 10px;
      padding: 20px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 2px 16px 0px rgba(202, 211, 225, 0.4);
      -webkit-box-shadow: 0px 2px 16px 0px rgba(202, 211, 225, 0.4);
      -moz-box-shadow: 0px 2px 16px 0px rgba(202, 211, 225, 0.4);
    }
  }
}
